include LICENSE
include README.md
include CHANGELOG.md
include setup.cfg
include tox.ini
include pyproject.toml
recursive-include apexomni *.json
recursive-include apexomni *.dylib
recursive-include apexomni *.dll
recursive-include apexomni *.so
